<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      Current posts
    </h2>
  </div>
  {{#each blogPosts as |post|}}
  <div class="dish col-md-4">
    <p>
      {{post.id}}.
      {{post.post_title}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      person:
      {{post.creator_name}}
    </p>
  </div>
  {{/each}}

<script src="/js/add-blogPost.js"></script>
