<div class="dish-card">
  <div class="dish-card-header">
    {{post_title}}
  </div>
  <div class="card-body">
    <p>
      content:
      {{content}}
    </p>
    <p>
      creator:
      {{user_id}}
    </p>
  </div>
</div>

  <div>
    <form class="form comment-form">
    <textarea id="commentHole"></textarea>
      <div class="form comment-form">
        <button class="btn btn-primary" type="submit">comment</button>
      </div>    
    </form>

  </div>

  <script src="./js/comment.js"></script>