<div class="dish-card">
  <div class="dish-card-header">
    {{post_title}}
  </div>
  <div class="card-body">
    <p>
      content:
      {{content}}
    </p>
    <p>
      creator:
      {{user_id}}
    </p>
  </div>
  <div>
    <a href="/login">add comment</a>
  </div>

</div>