
#blogPostMain {
	margin-top: 1rem;
}

a {
	text-decoration: none;
}

#commentForm {
	margin-top: 5rem;
}

#commentButt {
	margin-bottom: 5px;
}

#recentCommentContainer {
	margin-top: 5rem;
}

.commentHead h4 {
	color: #e07a5f;
	font-size: 14px;
}

.commentHead h4,
.commentHead h5 {
    margin:0px;
    display: inline-block;
    vertical-align: top;
    line-height: 21px;
}

.commentHead h5{
	text-align:right;
	padding-right:2em;
	font-size: 12px;
}
#commentCard {
	height: 125px;
}
#commentContent {
    font-size: 16px;
}

#createHead {
	font-size: 1rem;
	color:#717175;
}

a,
.nav-link {
	color: #3d405b;
}

a:hover,
.nav-link:hover {
	color: #81b29a;
}

.profPic {
	height: 75px;
	width: 75px;
	padding-top: .5rem;
	padding-bottom: .5rem;
	object-fit: cover;
}

#navTitle {
	font-size: 2rem;
}